.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 20px;
}

.message {
  font-size: 2em;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 10px;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

